<div class="mobile-inversion">
  <div class="center">
    <div id="festival" class="centerTarget"></div>
    <h4 id="roni-Elkabetz">Ronit la femme engagée</h4>
    <p style="text-align: center;">
      « Ceux qui vivent, ce sont ceux qui luttent »<br>
      "و لا يموت المقاومون"<br>
      Ronit Elkabetz (1964-2015)
    </p>
    <p>
      Elle avait encore tant à donner, tant à dire. Tel un astre incandescent qui irradie le ciel avant de disparaître. Ronit Elkabetz s’est éteinte à l’apogée de sa carrière. Emportée par le cancer. Elle n’avait que 51 ans.<br>
      <em>« Ceux qui vivent, ce sont ceux qui luttent »</em> déclarait-elle. L’actrice et scénariste Ronit Elkabetz excella dans l’interprétation de personnages féminins en rébellion. Regard intense, peau ivoire et chevelure de jais, Ronit portait ses origines en bandoulière. Sa beauté flamboyante tenait de celles de ses aïeules de Mogador.<br>
      De la Cité des Alizés, Ronit reçut en héritage la tradition culturelle, qu’elle revendiquait avec force. <em>« La culture arabe est dans nos veines, dans notre cuisine, notre musique et notre langue »</em>, affirmait-elle racontant que, quand elle était enfant, <em>« sa famille se réunissait chaque vendredi après-midi pour visionner un film égyptien ».</em><br>
      Arrivée au cinéma en 1990, elle coécrit et coréalise avec son jeune frère, Schlomi une trilogie construite autour de l’histoire de ses parents. Le fil directeur en est Viviane, une femme en quête d’émancipation dont le personnage s’inspire directement de sa mère, coiffeuse à Mogador.<br>
      En Israël où Ronit retourne vivre en 2000, elle disait <em>« Je vis au cœur de la vieille ville de Jaffa parce qu’elle fait cohabiter étroitement les deux communautés (…) C’est important pour moi de partager ma vie quotidienne avec celle des Palestiniens ».</em> De Mogador, Ronit n’hérita pas que la beauté de ses femmes. Elle en eut aussi le goût de l’autre et une quête militante pour la paix qui ne l’a jamais quittée.<br>
    </p>
    <div class="photo">
      <%= image_tag("roni.jpeg", alt:"Ronit Elkabetz", class:"img-class") %>
    </div>
    <div class="legend">
      Ronit Elkabetz dans Prendre Femme de Shlomi et Ronit Elkabetz (2005).
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to festival_path do %>Manifesto<% end %></li>
        <li><%= link_to festival_essaouira_path do %>Essaouira<% end %></li>
        <li><%= link_to festival_ronit_path do %>Ronit la femme engagée<% end %></a></li>
        <li><%= link_to festival_equipe_path do %>L'équipe mobilisée<% end %></a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#festival">HAUT DE PAGE</a></p>
  </div>
</div>
