<div class="mobile-inversion">
  <div class="center">
  <div id="festival" class="centerTarget"></div>
   <h4 id="logo" class='h4margin'>
    Le logo des rencontres cinématographiques a été conçu par Sophia Attigui, et intègre trois dimensions principales.
    </h4>
    <p>
      Le logo emprunte tout d’abord à la langue et à l’écriture arabe.<br><br>
      <em>“C’est un geste nécessaire au vu du territoire d’accueil du festival. Plus que ça : c’est une invitation — au retour, à la redécouverte. Je ne pouvais imaginer ce logo dans une autre langue que l’arabe. L’arabe, c’est la langue principale du pays que tant de ces juifs ont un jour quitté. L’arabe et l’hébreu sont d’ailleurs membres d’une même famille avec l’araméen ou le syriaque, celle des langues sémitiques.“</em><br>

      Il contient également une étoile à six branches, qui fait référence à l’Étoile de David (sceau de Salomon).  Si ce symbole protecteur est particulièrement emblématique de la culture juive, il est également présent dans les cultures chrétiennes et catholiques. On le retrouve d’ailleurs entre 1795 et 1915 sur le drapeau du Maroc. <em>“Cette étoile, c’est aussi Esther et Selma, et comme Catherine : la lumière, le chemin, la nostalgie. C’est aussi un phare, un appel, ou une invocation...”</em><br>
      Enfin, les autres références qui ont conduit à l’élaboration du logo, appartiennent à une culture commune, universelle. En voici quelques-unes :<br>
      <em>“L’océan, la mer, les vagues, le port, la navigation, le bateau, l’ancre. Le départ et l’arrivée ; l’exil et le retour ; l’adieu et l’accueil ; le va et le vient ; le voyage. Le sable, les dunes ; l’envol, le déplacement, ce (ceux) qui part et ce (ceux) qui reste.”</em> Mais aussi <em>“la ville, le fort, l’architecture (celle d’Essaouira, mais pas que), la bâtisse, la fondation, l’ancrage et la fondation dans le sol. Et en même temps : la ruine. Ce qui tombe, et ce qui reste en place.”</em>
    </p>
    <%= image_tag("mosaique.png", alt: "Essaouira", width: "100%") %>
<br><br><br><br><br><br>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to festival_path do %>Manifesto<% end %></li>
        <li><%= link_to festival_essaouira_path do %>Essaouira<% end %></li>
        <li><%= link_to festival_logo_path do %>Notre logo<% end %></li>
        <li><%= link_to festival_ronit_path do %>Ronit la femme engagée<% end %></a></li>
        <li><%= link_to festival_equipe_path do %>L'équipe mobilisée<% end %></a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#logo">HAUT DE PAGE</a></p>
  </div>
</div>
