<div class="mobile-inversion">
  <div class="center">
    <div id="festival" class="centerTarget"></div>
    <h4 id="mobilisation">Une équipe plurielle, sous la présidence d’honneur d’André Azoulay, dans le cadre de l’association Essaouira - Mogador et de son président Tarik Ottmani</h4>
    <h4>Un comité de direction</h4>
    <h5>Catherine Becker<br> 
    Anaïs Ferreira-Anglars</h5>
    <h4>L’équipe logistique</h4>
    <h5>
      Kaoutar Chakir<br>
      Youness Elmouatez
    </h5>
    <h4>L’équipe de sponsoring</h4>
    <h5>Carole Guilloux</h5>
    <h4>L’équipe communication</h4>
    <h5>Soulaimane Alaoui (Noomoo)<br>
    Théophile Granier (Maya Agency)
    </h5>
    <h4>Identité et conception graphique</h4>
    <h5>Sophia Attigui</h5>
    <h4>Web developpement</h4>
    <h5>Ghali Dhobb | koun.online</h5><br><br><br><br><br><br>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to festival_path do %>Manifesto<% end %></li>
        <li><%= link_to festival_essaouira_path do %>Essaouira<% end %></li>
        <li><%= link_to festival_logo_path do %>Notre logo<% end %></li>
        <li><%= link_to festival_ronit_path do %>Ronit la femme engagée<% end %></a></li>
        <li><%= link_to festival_equipe_path do %>L'équipe mobilisée<% end %></a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#festival">HAUT DE PAGE</a></p>
  </div>
</div>
