<div class="mobile-inversion">
  <div class="center">
    <div class="centerTarget" id="programme15"></div>
    <div class="programme">
      <div style="text-indent: 5rem; margin-bottom: 2rem">
      <p>
        La première édition partira de l’exode des juifs marocains pour comprendre comment aujourd’hui la relation entre les communautés peut se reconstruire sur la base d’un héritage commun et d’une compréhension de l’altérité.<br>
        De l’exil comme construction théologico-politique  à l’exil comme situation politique.<br>
        Pour cette première édition, 13 films et 7 documentaires. Les films seront projetés à la Médiathèque, les documentaires soit à Dar Souiri, soit à Salam Shalom. Les tables rondes se tiendront à Dar Souiri.
      </p>
      </div>
      <h5>
        SOIRÉE D'OUVERTURE</h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "bastion.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                VERNISSAGE
              </h6>
              <p>Le Bastion<br>
              17h00<br><br>
              Les artistes de la joutya d’Essaouira s’exposent dans les sous-sols du Bastion. Une exposition à découvrir tout au long des Rencontres cinématographiques. Commissariat : Anaïs FA.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Fichier 49.svg", class:"img" %>
          </div>
            <div class="text">
              <h6>LANCEMENT OFFICIEL</h6>
              <p>
                Le Bastion<br>
                18h00<br><br>
                Une introduction par les représentants du Ministère de la Culture et par Tarik Ottmani, maire d’Essaouira, qui seront suivies des prises de parole d’André Azoulay, de Shlomi Elkabetz et de Catherine Becker.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "latcho-drom.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>
               Place Moulay Hassan<br>
               21h00<br><br>
               <b><em>Et/ ou Latcho Drom</em></b>, Tony Gatlif, 1993, France, 1h.43’
              </p>
            </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
      <div class="pdf mobileHide">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME COMPLET SOUS FORMAT PDF', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
      <div class="pdf-mobile mobileShow">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
    </div>
    <p class="haut-de-page"><a href="#programme15">HAUT DE PAGE</a></p>
  </div>
</div>
