<div class="mobile-inversion">
  <div class="center">
    <div class="programme">
      <p>
        Partir, un exode pas comme les autres ?
      </p>
      <h5>Jeudi 16 novembre<br>
      Première journée
      </h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>PETIT DÉJEUNER AVEC SHLOMI ELKABETZ ET SES PARENTS</h6>
              <p>
                Salam Shalom (et avec le soutien de Café l’Esprit) — 35 Rue Touahenbr<br>
                9:00
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                TABLE RONDE : ON EST TOUS DES EXILÉS, PERSONNE N’EST EXILÉ<br>
              </h6>
              <p>
                Dar Souiri — 10 avenue du Caire<br>
                11h00<br><br>
                Table ronde animée par Catherine Becker autour d’extraits du documentaire de Youness Laghrari « Juifs marocains, destins contrariés » Maroc, 2014.<br>
                Comprendre les spécificités de l’exode, le vécu de ce départ dans un certain vivre ensemble dans le Maroc judéo-arabo berbère, la situation à l’arrivée dans les pays d’exil, la situation actuelle, la recherche du dialogue.<br>
                1. Présentation historique : les dimensions géopolitiques de l’exode. Younes Laghrari<br>
                2. Témoignages autour de l’exode : Fanny Mergui, les parents de Shlomi et Ronit Elkabetz, Hassan Benjelloun 20’
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>DÉJEUNER EN COMMUN AVEC LES INVITÉS (SPÉCIALITÉS JUDÉO-MAROCAINES)</h6>
              <p>
                12h30
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>Médiathèque<br>
                14h30<br><br>
                <b> <em>« Tinghir - Jérusalem, les Echos du Mellah, »</em></b> Kamal Hachkar 2013, Maroc, 86’, en présence du réalisateur, débat.<br>
                Ziyara, Simone Bitton, France/Maroc (83’), 2020.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>
                Dar Souiri — 10 avenue du Caire<br>
                18h<br><br>
                <b><em>Les étendues imaginaires</em></b>, Siew Hua Yeo, 2019, Singapour,1h36’
              </p>
            </div>
        </div>
        <h5>Soirée</h5>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>HOMMAGE À RONIT ET SHLOMI ELKABETZ : DISCUSSION ET PROJECTIONS</h6>
              <p>
                Médiathèque<br>
                21h00<br><br>
                Présentation de Ronit et Shlomi Elkabetz, des Cahiers Noirs et de la Trilogie par Ariel Schweitzer.<br>
                En présence du réalisateur et de Audrey Azoulay (sous réserve de confirmation).<br>
                Projections de Cahiers noirs I, Viviane (88’) et de Cahiers noirs 2, Ronit (84’) de Shlomi Elkabetz.<br>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
      <div class="pdf mobileHide">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME COMPLET SOUS FORMAT PDF', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
      <div class="pdf-mobile mobileShow">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
    </div>
    <p class="haut-de-page"><%= link_to "HAUT DE PAGE", programme15_path %></p>
  </div>
</div>
