<div class="mobile-inversion">
  <div class="center">
  <div class="centerTarget" id="programme16"></div>
    <div class="programme">
      <div style="text-align: center; margin-top: 0;" >
        <p>
          Partir, un exode pas comme les autres ?
        </p>
      </div>
      <h5>
      PREMIÈRE JOURNÉE
      </h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "Shlomi-Elkabetz.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>PETIT DÉJEUNER AVEC SHLOMI ELKABETZ</h6>
              <p>
                Salam Shalom<br>
                9h00 à 10h30</p>
              <p style="font-family: Bradford LL">
                Venez déguster votre premier repas de la journée dans l’intimité d’une conversation avec le réalisateur Shlomi Elkabetz et ses parents.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Fichier 49.svg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                TABLE RONDE : ON EST TOUS DES EXILÉS, PERSONNE N’EST EXILÉ<br>
              </h6>
              <p>
                Dar Souiri<br>
                11h00 à 13h00</p>
              <p style="font-family: Bradford LL">
                Autour d’extraits de documentaire <b><em>Juif marocains, destins contrariés</em></b> et en présence de son réalisateur Younes Laghrari. Avec la participation de Fanny Mergui, Hassan Benjelloun et des parents de Shlomi et Ronit Elkabetz. Une table ronde animée par Catherine Becker.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "tinghir.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>Médiathèque<br>
                14h30</p>
                <p style="font-family: Bradford LL">
                <b> <em>« Tinghir - Jérusalem, les Echos du Mellah, »</em></b> Kamal Hachkar 2013, Maroc, 86’, en présence du réalisateur.<br>
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "mediatheque.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>Médiathèque<br>
                117h00</p>
              <p style="font-family: Bradford LL">
                <b><em>Ziyara</em></b>, Simone Bitton, France-Maroc (83’), 2020.<br>
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "moshe 1.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>
                Dar Souirie<br>
                18h00
              </p>
              <p style="font-family: Bradford LL">
                <b><em>Où vas-tu Moshe ?</em></b>, Hassan Benjelloun, Maroc (78’), 2007. La projection sera suivie d’un débat en présence du réalisateur.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "ronischlomi.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTIONS EN HOMMAGE À RONIT ET SHLOMI ELKABETZ</h6>
              <p>
                Médiathèque d’Essaouira<br>
                21h00
              </p>
              <p style="font-family: Bradford LL">
                Présentation de Ronit et Shlomi Elkabetz, et de leur oeuvre, par Ariel Schweitzer, critique de cinéma, en présence du réalisateur.<br>
                Projections:  <b><em>Cahiers noirs I, Viviane</em></b> (88’) et de <b><em>Cahiers noirs 2, Ronit</em></b> (84’) de Shlomi Elkabetz.<br>
              </p>
            </div>
        </div>
        <br><br><br><br>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Soirée d'ouverture", programme15_path %></li>
        <li><%= link_to "Première journée", programme16_path %></li>
        <li><%= link_to "Deuxième journée", programme17_path %></li>
        <li><%= link_to "Troisième journée", programme18_path %></li>
      </ul>
      <div class="pdf mobileHide">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME COMPLET SOUS FORMAT PDF', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
      <div class="pdf-mobile mobileShow">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
    </div>
    <p class="haut-de-page"><a href="#programme15">HAUT DE PAGE</a></p>
  </div>
</div>
