<div class="mobile-inversion">
  <div class="center">
    <div id="centerTarget"></div>
    <div class="programme">
      <p>
        Le dépassement de l’exil comme révélateur d’humanité, d’émancipation féminine et de créativité
      </p>
      <h5>
        SAMEDI 18 NOVEMBRE<br>
        TROISIÈME JOURNÉE
      </h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PETIT DÉJEUNER AVEC HANNA ASSOULINE ET TAMARA ERDE
              </h6>
              <p>
                Salam Shalom — 35 Rue Touahen<br>
                9h00
                Petit déjeuner avec Hanna Assouline et Tamara Erde, autour de leur film documentaire <em>Les guerrières de la paix</em>,Hanna Assouline, France (45'), 2018 et <em>This is my land</em>, Tamara Erde, Israël/France, (90’), 2015.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                DÉBAT/ TABLE RONDE
              </h6>
              <p>
                Salam Shalom — 35 Rue Touahen<br>
                11h00<br><br>
                Exil et Art ; comment l’art permet d’avancer ? Les artistes exilés, l’art de l’exil, le cinéma de l’exil. Avec Annette Becker, Charles Tesson, Ariel Schweitzer, Kenza Laoui et des musiciens du festival. Animé par Inès Weill-Rochant.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                DÉJEUNER EN COMMUN AVEC LES INVITÉS (SKHINA, PLAT DU SABBATH)
              </h6>
              <p>
                Salam Shalom — 35 Rue Touahen<br>
                12h30
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Médiathèque<br>
                14h<br><br>
               Art, humanité, émancipation féminine pour dépasser l’exil.<br>
               <em>Les échappées</em>, Katia Jarjoura, France (77’), 2022.<br>
               <em>Le Procès</em>, Shlomi Elkabetz, Israël (93’), 2004 — Le troisième film de la trilogie, en présence du réalisateur.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>Dar Souiri — 10 avenue du Caire<br>
              18h00<br><br>
                <em>Exils</em>, Tony Gatlif, France (104’), 2003.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>Salam Shalom — 35 Rue Touahen<br>
                18h00<br><br>
                <em>Quand deux fleuves se rencontrent</em>, Gaël Faye, Rwanda (52’), 2013.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
               CLÔTURE : DÉBAT/COCKTAIL<br>
              </h6>
              <p>
                Dar Souiri — 10 avenue du Caire<br>
                19h30
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                CLÔTURE : PROJECTION DE FILM
              </h6>
              <p>
               Médiathèque / Place Moulay Hassan<br>
               21h00<br><br>
                <em>Sugarman</em>, Sixto Rodriguez, USA/Mexique (75’), 2012.<br>
                <em>Tangos, l’exil de Gardel</em>, Fernando E. Solanas, Argentine (95’), 1985.
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
    </div>
    <p class="haut-de-page"><%= link_to "HAUT DE PAGE", programme15_path %></p>
  </div>
</div>
