<div class="mobile-inversion">
  <div class="center">
    <div class="programme">
      <p>
        L’épreuve de l’exil à travers le Proche Orient et élargissement sur d’autres régions du monde Les entrelacs du religieux et du politique
      </p>
      <h5>
        VENDREDI 17 NOVEMBRE<br>
        DEUXIÈME JOURNÉE
      </h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PETIT DÉJEUNER AVEC AMOS GITAI , AUTOUR DE SON ŒUVRE SUR L’EXIL
              </h6>
              <p>
              Salam Shalom — 35 Rue Touahen<br>
              9h00
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                L’EXIL, LE RELIGIEUX ET LE POLITIQUE AU CINÉMA
              </h6>
              <p>
                Dar Souiri — 10 avenue du Caire<br>
                11h00<br><br>
                Table ronde animée par Ariel Schweitzer<br>
                La dimension mythologique, philosophique, religieuse, historique et politique de l’exil Tamara Erde, Amos Gitai, Michale Boganim, et Charles Tesson
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                DÉJEUNER EN COMMUN AVEC LES INVITÉS (COUSCOUS DU VENDREDI)
              </h6>
              <p>
              12h30
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILMS
              </h6>
              <p>
                Médiathèque<br>
                14h00<br><br>
              <em>Berlin Jérusalem</em>, Amos Gitai, 1991, Israël (78’) le second film de la trilogie de l’exil.<br>
              Présentation du film par le réalisateur et débat<br>
              <em>My land</em>, Nabil Ayouche, France/Maroc (82’), 2011.<br>
              Présentation du film par le réalisateur et débat.<br>
              <em>Mizahim les oubliés de la Terre promise</em>, Michale Boganim, Israel/France (93’), 2021.<br>
              En présence de la réalisatrice. Présentation et débat avec Shlomi Elkabetz et Michalle Boganim.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Dar Souiri — 10 avenue du Caire<br>
                18h00
                <em>Exil</em>, Rithy Panh, 2016, Cambodge (71’)
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTIONS DE FILM
              </h6>
              <p>
                Médiathèque<br>
                21h00
                <b><em>Prendre Femme</em></b>, Shlomi Elkabetz, 2004, (83')<br>
                Le premier film de la trilogie, présentation
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
    </div>
    <p class="haut-de-page"><%= link_to "HAUT DE PAGE", programme15_path %></p>
  </div>
</div>
