<div class="mobile-inversion">
  <div class="center">
    <div class="programme">
      <p>
        La première édition partira de l’exode des juifs marocains pour comprendre comment aujourd’hui la relation entre les communautés peut se reconstruire sur la base d’un héritage commun et d’une compréhension de l’altérité.
        De l’exil comme construction théologico-politique  à l’exil comme situation politique.
        Pour cette première édition, 13 films et 9 documentaires. Les films seront projetés à la Médiathèque, les documentaires soit à Dar Souiri, soit à Salam Shalom. Les tables rondes se tiendront à Dar Souiri.
      </p>
      <h5>
        Troisième journée : samedi 18 novembre<br>
        Le dépassement de l’exil comme révélateur d’humanité, d’émancipation féminine et de créativité
      </h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Petit déjeuner avec Hanna Assouline et Tamara Erde</h6>
              <p>A Salam Shalom<br>
              9h-10H30 <br><br>
              <b>Autour de leur film documentaire <em>Les guerrières de la paix</em>,Hanna Assouline</b>, 2018 et  This is my land, Tamara Erde, 2015, Israël France, 90’
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Débat/ Table ronde </h6>
              <p>11h<br><br>
              Exil et Art  : Comment l’art permet d’avancer<br>
              Les artistes exilés, l’art de l’exil, le cinéma de l’exil<br>
              Avec  Annette Becker, Charles Tesson, Ariel Schweitzer, Kenza Laoui,<br>
              Et des musiciens du Festival<br>
              Animé par Inès Weill-Rochant
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Déjeuner en commun (avec les invités)</h6>
              <p>12 h30 -14 h.<br><br>
               Skhina, plat du sabbath au Maghreb
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Dans la médiathèque<br>
              Art, humanité, émancipation féminine  pour dépasser l’exil</h6>
              <p>14h<br><br>
               <b><em>Les échappées</em></b>, Katia Jarjoura, France, documentaire, 2022, 77’
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Dans la médiathèque</h6>
              <p>15h30<br><br>
                <b><em>Le Procès</em></b>, Shlomi Elkabetz, Israël, 2004, 1h55’<br>
                Le troisième film de la trilogie, en présence du réalisateur
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Dans la médiathèque</h6>
              <p>17h30<br><br>
                <b><em>Exils</em></b>, Tony Gatlif, 2003, France, 104’
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>A Dar Souiri </h6>
              <p>18h<br><br>
                <b><em>Quand deux fleuves se rencontrent</em></b>, Gaël Faye, 2013, Rwanda, 52’
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Débat de clôture/ Cocktail à Dar Souiri</h6>
              <p>19h30<br><br>
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Dans la médiathèque ou sur la place Moulay Hassan</h6>
              <p>De 21 h à 1 heure du matin<br><br>
                <b><em>Sugarman</em></b>, Sixto Rodriguez, 2012, USA et Mexique, 1h26’<br>
                 <b><em>Tangos, l’exil de Gardel</em></b>, Fernando E. Solanas, 1985, Argentine, 2h,1’
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
    </div>
  </div>
</div>
