<div class="mobile-inversion">
  <div class="center">
    <div id="centerTarget"></div>
    <div class="programme">
     <div style="text-align: center; margin-top: 0;" >
      <p style="margin-top: 0">
        Le dépassement de l’exil comme révélateur d’humanité, d’émancipation féminine et de créativité
      </p>
     </div>
      <h5>
        TROISIÈME JOURNÉE
      </h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "hannatamara.png", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PETIT DÉJEUNER AVEC HANNA ASSOULINE ET TAMARA ERDE
              </h6>
              <p>
                Salam Shalom<br>
                9h00 à 10h30</p>
              <p style="font-family: Bradford LL">
                Petit déjeuner avec Hanna Assouline et Tamara Erde, autour de leur film documentaire <b><em>Les guerrières de la paix</em></b>,Hanna Assouline, France (45'), 2018 et <b><em>This is my land</em></b>, Tamara Erde, Israël/France, (90’), 2015.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Fichier 49.svg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                TABLE RONDE - EXIL ET ART : COMMENT L’ART PERMET D’AVANCER ?
              </h6>
              <p>
                Dar Souiri<br>
                11h00 à 12h30</p>
              <p style="font-family: Bradford LL">
                Cette table ronde animée par Inès Weill-Rochant abordera les thèmes des artistes exilés, de l’art de l’exil et du cinéma de l’exil. En présence d’Anette Becker, de Charles Tesson, d’Ariel Schweitzer, de Kenza Laoui et des musiciens des rencontres cinématographiques.
              </p>
            </div>
        </div>
        <br>

        <div class="event1">
          <div class="image">
            <%= image_tag "echapee.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Médiathèque d’Essaouira<br>
                14h30</p>
              <p style="font-family: Bradford LL">
               <b><em>Les échappées</em></b>, Katia Jarjoura, France (77’), 2022.
              </p>
            </div>
        </div>
        <br>

        <div class="event1">
          <div class="image">
            <%= image_tag "viviane.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Médiathèque d’Essaouira<br>
                16h00</p>
              <p style="font-family: Bradford LL">
                <b><em>Le Procès de Viviane Amsalem</em></b>, Shlomi Elkabetz, Israël (93’), 2004
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "exils 1.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>Dar Souiri<br>
                18h30</p>
              <p style="font-family: Bradford LL">
                <b><em>Exils</em></b>, Tony Gatlif, France (104’), 2003.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "deuxfleuves.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>PROJECTION DE FILM</h6>
              <p>Salam Shalom<br>
                18h30</p>
              <p style="font-family: Bradford LL">
                <b><em>Quand deux fleuves se rencontrent</em></b>, Gaël Faye, Rwanda (52’), 2013.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Fichier 49.svg", class:"img" %>
          </div>
            <div class="text">
              <h6>
               DÉBAT DE CLÔTURE
              </h6>
              <p>
                Dar Souiri<br>
                19h30</p>
              <p style="font-family: Bradford LL">
                Plus d’informations à venir...
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "sugar.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                SOIRÉE DE PROJECTIONS EN PLEIN AIR
              </h6>
              <p>
               Place Moulay Hassan<br>
               À partir de 21h00</p>
              <p style="font-family: Bradford LL">
                <b><em>Sugarman</em></b>, Sixto Rodriguez, USA/Mexique (75’), 2012.<br>
                <b><em>Tangos, l’exil de Gardel</em></b>, Fernando E. Solanas, Argentine (95’), 1985.
              </p>
            </div>
        </div>
        <br><br><br><br>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Soirée d'ouverture", programme15_path %></li>
        <li><%= link_to "Première journée", programme16_path %></li>
        <li><%= link_to "Deuxième journée", programme17_path %></li>
        <li><%= link_to "Troisième journée", programme18_path %></li>
      </ul>
      <div class="pdf mobileHide">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME COMPLET SOUS FORMAT PDF', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
    </div>
    <div class="pdf-mobile mobileShow">
      <%= link_to 'TÉLÉCHARGER LE PROGRAMME SOUS FORMAT PDF', '/pdf/Esther&Selma_programme.pdf' %>
    </div>
    <p class="haut-de-page"><%= link_to "HAUT DE PAGE", programme15_path %></p>
  </div>
</div>
