<div class="mobile-inversion">
  <div class="center">
    <div class="programme">
      <div style="text-align: center; margin-top: 0;" >
      <p style="margin-top: 0">
        L’épreuve de l’exil à travers le Proche Orient et élargissement sur d’autres régions du monde<br>
        Les entrelacs du religieux et du politique
      </p>
      </div>
      <h5>
        DEUXIÈME JOURNÉE
      </h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "amos.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PETIT DÉJEUNER AVEC AMOS GITAI
              </h6>
              <p>
              Salam Shalom<br>
              9h00<br><br>
              Venez déguster votre premier repas de la journée dans l’intimité d’une conversation avec le réalisateur Shlomi Elkabetz et ses parents.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Fichier 49.svg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                TABLE RONDE : L’EXIL, LE RELIGIEUX ET LE POLITIQUE AU CINÉMA
              </h6>
              <p>
                Dar Souiri<br>
                11h00 à 12h30<br><br>
                Cette table ronde animée par le critique de cinéma Ariel Schweitzer abordera les dimensions mythologique, philosophique, religieuse, historique et politique de l’exil, au cinéma.<br>
En présence de Tamara Erde, Amos Gitaï, Michale Boganim et Charles Tesson.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "berlin-jerusalem.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Médiathèque d’Essaouira<br>
                14h30<br><br>
             <b><em> Berlin Jérusalem</em></b>, Amos Gitai, Israël (78’), 1991.<br>
Le film sera présenté par le réalisateur et suivi d’un débat.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "myland.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Médiathèque d’Essaouira<br>
                14h30<br><br>
                <b><em>My land</em></b>, Nabil Ayouche, France/Maroc (82’), 2011. Projection en présence du réalisateur.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "mizrahim.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Médiathèque d’Essaouira<br>
                18h30<br><br>
                <b><em>Mizahim les oubliés de la Terre promise</em></b>, Michale Boganim, Israel/France (93’), 2021. Projection suivie d’un débat en présence de la réalisatrice et de Shlomi Elkabetz.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "notturno.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTION DE FILM
              </h6>
              <p>
                Dar Souiri<br>
                18h00
                <b><em>Notturno</em></b>, Gianfranco Rossi, France-Italie-Allemagne (100’), 2020.<br>
                Projection suivie d’un débat en présence de la réalisatrice et de Shlomi Elkabetz.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "prendrefemme.jpeg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                PROJECTIONS DE FILM
              </h6>
              <p>
                Médiathèque d'Essaouira<br>
                21h00
                <b><em>Prendre Femme</em></b>, Shlomi Elkabetz, 2004, (83')<br>
                Présentation du film par Ariel Schweitzer, critique de cinéma.
              </p>
            </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi", programme15_path %></li>
        <li><%= link_to "Jeudi", programme16_path %></li>
        <li><%= link_to "Vendredi", programme17_path %></li>
        <li><%= link_to "Samedi", programme18_path %></li>
      </ul>
      <div class="pdf mobileHide">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME COMPLET SOUS FORMAT PDF', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
      <div class="pdf-mobile mobileShow">
        <%= link_to 'TÉLÉCHARGER LE PROGRAMME', '/pdf/Esther&Selma_programme.pdf' %>
      </div>
    </div>
    <p class="haut-de-page"><%= link_to "HAUT DE PAGE", programme15_path %></p>
  </div>
</div>
