<div class="mobile-inversion">
  <div class="center">
    <div class="programme">
<!--       <p>
        La première édition partira de l’exode des juifs marocains pour comprendre comment aujourd’hui la relation entre les communautés peut se reconstruire sur la base d’un héritage commun et d’une compréhension de l’altérité.
        De l’exil comme construction théologico-politique  à l’exil comme situation politique.
        Pour cette première édition, 13 films et 9 documentaires. Les films seront projetés à la Médiathèque, les documentaires soit à Dar Souiri, soit à Salam Shalom. Les tables rondes se tiendront à Dar Souiri.
      </p> -->
      <h5>Première journée- jeudi 16 novembre<br><br>
      Partir, un exode pas comme les autres ?
      </h5>
      <h5>Matinée</h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>A Salam Shalom et avec le soutien de Café l’Esprit</h6>
              <p>
                Petit déjeuner avec Shlomi Elkabetz  et ses parents<br>
                9:00-10H30<br>
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>A Dar Souri<br>
              Table ronde</h6>
              <p>
                11h/ 13 h<br>
                <em>On est tous des exilés, personne n’est exilé</em><br>
                Animée par Catherine Becker<br>
                Autour d’extraits du documentaire de Youness Laghrari « Juifs marocains, destins contrariés » Maroc, 2014<br>
                Comprendre les spécificités de l’exode, le vécu de ce départ dans un certain vivre ensemble dans le Maroc judéo-arabo-berbère, la situation à l’arrivée dans les <em>pays d’exil</em>, la situation actuelle, la recherche du dialogue.<br>
                1- Présentation historique : les dimensions géo-politiques de l’exode. Younes Laghrari<br>
                2- Témoignages autour de l’exode : Fanny Mergui, les parents de Shlomi et Ronit Elkabetz, 20’<br>
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Déjeuner en commun (avec les invités) à Dar Souiri</h6>
              <p>
                Spécialités judéo-marocaines
              </p>
            </div>
        </div>
        <h5>Après-midi</h5>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Dans la médiathèque</h6>
              <p>
                14h30<br>
                <b>Kamal Hachkar <em>« Tinghir - Jérusalem, les Echos du Mellah, »</em></b> 2013, Maroc, 86’, en présence du réalisateur, débat
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Dans la médiathèque</h6>
              <p>
                17h30<br>
                Ziyara, Simone Bitton, France Maroc, 2020, 1h39’
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>A Dar Souiri</h6>
              <p>
                18h<br>
                <b><em>Les étendues imaginaires</em></b>, Siew Hua Yeo, 2019, Singapour,1h36’
              </p>
            </div>
        </div>
        <h5>Soirée</h5>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Hommage à Ronit et Shlomi Elkabetz</h6>
              <p>
                <b>Dans la médiathèque</b><br>
                Présentation de Ronit et Shlomi Elkabetz, des Cahiers noirs et de la Trilogie par Ariel Schweitzer en présence du réalisateur et de Audrey Azoulay (sous réserve de confirmation)<br>
                <b><em>Cahiers noirs I, Viviane</em></b>, 1h48’<br>
                <b><em>Cahiers noirs 2, Ronit,1h40’</em></b>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
    </div>
    <p class="haut-de-page"><%= link_to "HAUT DE PAGE", programme15_path %></p>
  </div>
</div>
