
  <div class="center">
    <div class="programme">
      <p>
        La première édition partira de l’exode des juifs marocains pour comprendre comment aujourd’hui la relation entre les communautés peut se reconstruire sur la base d’un héritage commun et d’une compréhension de l’altérité.
        De l’exil comme construction théologico-politique  à l’exil comme situation politique.
        Pour cette première édition, 13 films et 9 documentaires. Les films seront projetés à la Médiathèque, les documentaires soit à Dar Souiri, soit à Salam Shalom. Les tables rondes se tiendront à Dar Souiri.
      </p>
      <h5>SOIRÉE D'OUVERTURE</h5>
      <div class="event">
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>ART VISUELS: VERNISSAGE DE L'EXPOSITION "NASS"</h6>
              <p>Galerie d'art Bastion - 12, rue Abdelkbir Seddik<br>
              A partir de 17h00<br><br>
              Exposition au Bastion, pendant la semaine du festival, des artistes de la Joutya autour du thème de l’exil, du retour, du renouveau du dialogue.
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Ouverture officielle à 18 heures</h6>
              <p>Introduction par les représentants du Ministère de la Culture et mot de bienvenue par  Tarik Ottmani. (15’)<br>
              André Azoulay : Restaurer le rêve brisé et reprendre là où on s’était arrêté. 10’ <br>
              Shlomi Elkabetz : Pourquoi je suis heureux d’être là ?<br>
              Catherine Becker : Les 3 piliers de cette première édition : L’exil, de la spiritualité théologico-politique à l’exil dans la mondialisation ; Essaouira, la possible cohabitation, l’exode, le retour du dialogue ; Ronit Elkabetz, la femme engagée.
              Une nouvelle histoire de mixité culturelle et  de cultures plurielles pour se redéfinir et se projeter dans le futur. 15’
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>Cocktail dînatoire en présence des personnalités officielles, sur le toit du Bastion</h6>
              <p>Film<br>
               21 h sur les remparts de la Place Moulay Hassan<br>
               Va, vis et deviens, Radu Mihaileanu, 2005, France, 2h20’<br>
                Et/ ou Latcho Drom, Tony Gatlif, 1993, France, 1h.43’
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
    </div>
  </div>
