<div class="mobile-inversion">
  <div class="center">
    <div class="programme">
<!--       <p>
        La première édition partira de l’exode des juifs marocains pour comprendre comment aujourd’hui la relation entre les communautés peut se reconstruire sur la base d’un héritage commun et d’une compréhension de l’altérité.
        De l’exil comme construction théologico-politique  à l’exil comme situation politique.
        Pour cette première édition, 13 films et 9 documentaires. Les films seront projetés à la Médiathèque, les documentaires soit à Dar Souiri, soit à Salam Shalom. Les tables rondes se tiendront à Dar Souiri.
      </p> -->
      <h5>
        Deuxième journée- vendredi 17 novembre<br>
        L’épreuve de l’exil à travers le Proche Orient et élargissement sur d’autres régions du monde<br>
        Les entrelacs du religieux et du politique
      </h5>
      <div class="event">
        <h5>Matinée</h5>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                A Salam Shalom<br>
                9 :00-10H30
              </h6>
              <p>
              Petit déjeuner avec Amos Gitai , autour de son œuvre sur l’exil
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                A Dar Souiri<br>
                11 h/12h30
              </h6>
              <p>
                <b>Table ronde<br>
                <b><em>L’exil, le religieux et le politique au cinéma</em></b> animé par Ariel Schweitzer<br>
                La dimension mythologique, philosophique, religieuse, historique et politique de l’exil<br>
                Tamara Erde, Amos Gitai, Michale Boganim, et Charles Tesson 
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                Déjeuner en commun (avec les invités)à Dar Souiri<br>
              12h30 -14h
              </h6>
              <p>
              « Le couscous du vendredi »
              </p>
            </div>
        </div>
        <br>
        <h5>Après-midi</h5>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                Dans la médiathèque<br>
                14h
              </h6>
              <p>
              <b><em>Berlin Jérusalem</em></b>, Amos Gitai, 1991, Israël, 1h29’<br>
              le second film de la <em>trilogie de l’exil</em><br>
              Présentation du film par le réalisateur<br>
              Débat
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                Dans la médiathèque<br>
                16h
              </h6>
              <p>
               <b><em>My land</em></b>, Nabil Ayouche, 2011, France Maroc, 82’ , en présence du réalisateur/ débat
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                Dans la médiathèque<br>
                18h
              </h6>
              <p><br>
              <b>Mizahim les oubliés de la Terre promise</b>, Michale Boganim, 2021,  Israel France, 93’<br>
              en présence de la réalisatrice, présentation, débat avec Shlomi Elkabetz et Michalle Boganim
              </p>
            </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                A Dar Souiri<br>
                18h
              </h6>
              <p>
              <b><em>Exil</em></b>, Rithy Panh, 2016, Cambodge,1h18’
              </p>
            </div>
        </div>
        <h5>Soirée</h5>
        <br>
        <div class="event1">
          <div class="image">
            <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
            <div class="text">
              <h6>
                Dans la médiathèque<br>
                21h
              </h6>
              <p>
                <b><em>Prendre Femme</em></b>, Shlomi Elkabetz, 2004, 1h39’<br>
                le premier film de la trilogie, présentation
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li><%= link_to "Mercredi 15 novembre", programme15_path %></li>
        <li><%= link_to "Jeudi 16 novembre", programme16_path %></li>
        <li><%= link_to "Vendredi 17 novembre", programme17_path %></li>
        <li><%= link_to "Samedi 18 novembre", programme18_path %></li>
      </ul>
    </div>
    <p class="haut-de-page"><%= link_to "HAUT DE PAGE", programme15_path %></p>
  </div>
</div>
