<!DOCTYPE html>
<html>
  <head>
    <title>Estherselma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="background">
      <div class="container">
        <div class="left-side">
          <div class="title">
            <%= link_to root_path do %><h1>ESTHER ET SELMA</h1><% end %>
            <p>Festival de cinéma de l'exil<br>
            Essaouira</p>
          </div>
          <div class="menu">
            <ul>
              <li><%= link_to "Un festival engagé", festival_path %></li>
              <li><%= link_to "2023, édition pionnière", edition2023_path %></li>
              <li><%= link_to "Paroles", paroles_path %></li>
              <li><%= link_to "Tissu culturel", tissu_culturel_path %></li>
              <li><%= link_to "Programme", programme_path %></li>
              <li><%= link_to "Infos pratiques", infos_pratiques_path %></li>
              <li><%= link_to "Billeterie", billeterie_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
          </div>
        </div>
    <%= yield %>
        <div class="layout-options">
          <div class="mode-toggle">
            <p id="toggle-mode-button">INVERSER LES COULEURS</p>
          </div>
        </div>
      </div>
    </div>
    <script>
    // JavaScript to toggle dark/light mode
    document.addEventListener('DOMContentLoaded', function() {
        const toggleModeButton = document.getElementById('toggle-mode-button');
        const body = document.body;

        toggleModeButton.addEventListener('click', function() {
            body.classList.toggle('dark-mode');
            body.classList.toggle('light-mode');

            // Toggle the background image class if needed
            const background = document.querySelector('.background');
            if (background) {
                background.classList.toggle('dark-mode');
                background.classList.toggle('light-mode');
            }

            // Update button text
            const currentMode = body.classList.contains('dark-mode') ? 'Dark Mode' : 'Light Mode';
            toggleModeButton.textContent = `INVERSER LES COULEURS`;
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
    const linkElements = document.querySelectorAll("a");

    linkElements.forEach(function (link) {
        link.addEventListener("click", function (event) {
            const href = link.getAttribute("href");
            if (href.startsWith('#') || href.startsWith('javascript:') || href.startsWith('mailto:') || href.startsWith('tel:')) {
                return;
            }
            event.preventDefault();

            const colorClasses = ["full-screen-yellow", "full-screen-red", "full-screen-blue"];
            const randomColorClass = colorClasses[Math.floor(Math.random() * colorClasses.length)];

            const colorDiv = document.createElement("div");
            colorDiv.className = `${randomColorClass}`;
            colorDiv.style.opacity = '1'; // set initial opacity to 1
            document.body.appendChild(colorDiv);

            // start the fading out transition
            setTimeout(function () {
                colorDiv.classList.add('fading');
            }, 100);

            // Remove the color div after the transition is complete and redirect
            setTimeout(function () {
                document.body.removeChild(colorDiv);
                window.location.href = href;
            }, 1100); // should be greater than transition duration
        });
    });
});
  </script>
  </body>
</html>
